// | -------------------------------------------------------------
// | Color
// | -------------------------------------------------------------

$colors: (
  primary: (
    100: var(--red-500),
    200: var(--red-600),
    300: var(--red-700),
    400: var(--red-800),
    500: var(--red-900),
  ),
  secondary: (
    100: var(--violet-400),
    200: var(--violet-500),
    300: var(--violet-600),
    400: var(--violet-700),
    500: var(--violet-800),
  ),
  neutral: (
    100: hsl(0 0% 100%),
    200: hsl(200 23% 97%),
    300: hsl(200 12% 95%),
    400: hsl(205 12% 88%),
    500: hsl(209 13% 83%),
    600: hsl(208 6% 55%),
    700: hsl(210 8% 31%),
    800: hsl(212 9% 22%),
    900: hsl(210 10% 14%),
  ),
  dark: (
    100: hsl(240, 4%, 9%),
  ),
);
