// | -------------------------------------------------------------
// | Color
// | -------------------------------------------------------------

$colors: (
  primary: (
    100: hsl(348, 83%, 47%),
    200: hsl(0, 68%, 42%),
    300: hsl(0, 59%, 41%),
    400: hsl(0, 100%, 27%),
    500: hsl(0, 100%, 25%),
  ),
  secondary: (
    100: hsl(288, 59%, 58%),
    200: hsl(260, 60%, 65%),
    300: hsl(271, 76%, 53%),
    400: hsl(282, 100%, 41%),
    500: hsl(280, 61%, 50%),
  ),
  neutral: (
    100: hsl(0 0% 100%),
    200: hsl(200 23% 97%),
    300: hsl(200 12% 95%),
    400: hsl(205 12% 88%),
    500: hsl(209 13% 83%),
    600: hsl(208 6% 55%),
    700: hsl(210 8% 31%),
    800: hsl(212 9% 22%),
    900: hsl(210 10% 14%),
  ),
  dark: (
    100: hsl(240, 4%, 9%),
  ),
);
