---
import Feature from 'components/Feature';
import DefaultLayout from 'layouts/DefaultLayout.astro';

export const prerender = true;
---
<DefaultLayout title="Team">
  <div class="container">
    <h1 class="mb-8">Meet the Team</h1>
    <div class="flex flex-col md:flex-row items-stretch gap-8 mb-10">
      <img width="1280" height="430" class="rounded-lg md:w-2/3 max-w-lg w-full m-auto" alt="Our robotics team" src="/team.jpeg" />
      <Feature title="The Team" className="md:w-1/3">
        <b>Team Manager: Assa Sacko</b><br>
      </Feature>
    </div>
    <div class="flex flex-col-reverse items-stretch md:grid md:grid-cols-2 gap-8 mb-10">
      <Feature title="Build Team">
        <p>
          This is Bob The Builder's department. We work tirelessly throughout the season to build the most competitive robot possible.
        </p><br>
        <b>Captain: Nicolai Fiden</b><br>
        <b>Lieutenant Captain: Ainsley Ogilvie</b>
      </Feature>
      <img width="1280" height="1280" alt="The build team" src="/teams/build.png" class="rounded-lg m-auto max-w-lg w-full" />
    </div>
    <div class="flex flex-col items-stretch md:grid md:grid-cols-2 gap-8 mb-10">
      <img width="1280" height="1280" alt="The programming team" src="/teams/programming.png" class="rounded-lg m-auto max-w-lg w-full" />
      <Feature title="Programming">
        <p>
          The Programming Team's main purpose is to code the robots used in the competitions. Without their help, our robots would be motionless!
        </p><br>
        <b>Captain: Zachary Collazo</b><br>
      </Feature>
    </div>
    <div class="flex flex-col-reverse items-stretch md:grid md:grid-cols-2 gap-8 mb-10">
      <Feature title="Safety">
        <p>
          The Safety Team is devoted to keeping our members and work spaces safe. Our goal is to ensure a safe and productive season. Remember: Always use use protection!
        </p><br>
        <b>Captain: Ola Amr</b><br>
        <b>Lieutentant Captain: Tracy Flowers</b>
      </Feature>
      <img width="1280" height="1011" alt="The safety team" src="/teams/safety.jpeg" class="rounded-lg m-auto max-w-lg w-full" />
    </div>
    <div class="flex flex-col items-stretch md:grid md:grid-cols-2 gap-8 mb-10">
      <img width="1280" height="1280" alt="The PR team" src="/teams/pr.png" class="rounded-lg m-auto" />
      <Feature title="PR">
        <p>
          The Public Relations team is devoted to getting the ARGS Robotics name known through the use of social media
          (MySpace, HotMail emailing list, etc) and other forms of communication.
        </p><br>
        <b>Captain: Henry Powell</b><br>
      </Feature>
    </div>
    <div class="flex flex-col-reverse items-stretch md:grid md:grid-cols-2 gap-8 mb-10">
      <Feature title="Business">
        <p>Let&apos;s get down to business.</p><br>
        <b>Captain: Natalie Stopf</b><br>
        <b>Lieutenant Captain: Kenneth Dreibelbis</b>
      </Feature>
      <img width="1280" height="1280" alt="The business team" src="/teams/business.png" class="rounded-lg m-auto max-w-lg w-full" />
    </div>
    <div class="flex flex-col items-stretch md:grid md:grid-cols-2 gap-8 mb-10">
      <img width="1280" height="1280" alt="The scouting team" src="/teams/scouting.png" class="rounded-lg m-auto max-w-lg w-full" />
      <Feature title="Scouting">
        <p>The Scouting team&apos;s purpose is to monitor the competition and ensure a competitive season.</p><br>
        <b>Captain: Liam Gordon</b>
      </Feature>
    </div>
  </div>
</DefaultLayout>