// | -------------------------------------------------------------
// | Lists
// | -------------------------------------------------------------

@use '../base/breakpoint' as *;

ul:not([class]),
ol:not([class]) {
  margin-left: 1rem;

  ul,
  ol {
    padding: 0.5rem 1rem 0;
  }

  li {
    margin-bottom: 0.5rem;
  }
}

ul:not([class]) {
  > li::marker {
    display: block;
    color: var(--primary-800);
  }
}
