---
import DefaultLayout from 'layouts/DefaultLayout.astro';
---

<DefaultLayout title="404 Page Not Found">
  <section class="my-12">
    <div class="container">
      <h1 class="text-gradient">I think you took the site a little too literally.</h1>
    </div>
  </section>
  <section class="my-12">
    <div class="flex container flex-row gap-5 align-center">
      <p class="text-2xl">We couldn&apos;t find this page.</p>
      <a href="/" class="text-2xl">Go to the actual Not Found page</a>
    </div>
  </section>
</DefaultLayout>
