---
import DefaultLayout from 'layouts/DefaultLayout.astro';
---
<DefaultLayout title="Donate">
  <div class="container text-xl">
    <h1 class="mb-8">Donate</h1>
    <p>Thank you for your interest in donating to the ARGS Robotics Team.<br /><br /></p>
    <p>We accept donations via check and PayPal.<br /><br /></p>
    <p>
      Checks are payable to the ARGS Robotics Team Booster Club.<br />
      Our PayPal email is <a href="mailto:robotics@args.us">robotics@args.us</a>.
      <br /><br />
    </p>
    <i>
      All donations are tax-deductible to the extent allowed by law.
      Appomattox Robotics Booster Club is exempt from federal taxes under section 501(c)(3) from the Internal Revenue Code as a Non-profit
      School governed by the state laws of the Commonwealth of the State of Virginia.
      In accordance with IRS rules and regulations, donors are advised to verify an organization&apos;s 501(c)(3) tax exempt status.
    </i>
  </div>
</DefaultLayout>