---
import DefaultLayout from 'layouts/DefaultLayout.astro';

export const prerender = true;
---
<DefaultLayout title="Our Sponsors">
  <div class="container w-full h-full">
    <h1 class="mb-12">Our Sponsors</h1>
    <div class="flex flex-col items-center gap-10">
      <img class="max-w-[60%]" src="/sponsors/same.svg" alt="SAME VA: Society of Americal Military Engineers" />
      <img class="max-w-[60%]" src="/sponsors/groundforce-it.svg" alt="GroundForce IT" />
      <img class="max-w-[60%]" src="/sponsors/advanced-plumbing-llc.png" alt="Advanced Plumbin, LLC" />
    </div>
  </div>
</DefaultLayout>