---
import DefaultLayout from "layouts/DefaultLayout.astro";
---
<DefaultLayout title="Sponsor Us">
  <div class="container">
    <h1 class="mb-8">Sponsor Us</h1>
    <p class="text-xl">
      We thank you and your company for your interest in supporting our team.
      In recognition of your support, for donations over $250, your company&apos;s logo will be displayed on our T-Shirts and robot.
      <br /><br />
      Checks are payable to the ARGS Robotics Team Booster Club.
      There is also a form on the back of the <a href="/2022-2023-sponsor-letter.pdf">sponsor letter</a> that you can fill out and send or email to a team representative.
      <br /><br />
      <i>
        All donations are tax-deductible to the extent allowed by law.
        Appomattox Robotics Booster Club is exempt from federal taxes under section 501(c)(3) from the Internal Revenue Code as a Non-profit
        School governed by the state laws of the Commonwealth of the State of Virginia.
        In accordance with IRS rules and regulations, donors are advised to verify an organization&apos;s 501(c)(3) tax exempt status.
      </i>
      <br /><br />
      To learn more about how to sponsor us, please email <a href="mailto:robotics@args.us">robotics@args.us</a> or <a href="mailto:sselvaraj@args.us">sselvaraj@args.us</a>.
    </p>
  </div>
</DefaultLayout>