---
import DefaultLayout from 'layouts/DefaultLayout.astro';
import Calendar from 'components/Calendar';
---
<DefaultLayout title="Events">
  <div class="container">
    <h1 class="mb-8">Events</h1>
    <Calendar client:load />
  </div>
</DefaultLayout>