---
import Navigation from 'components/Navigation.astro';
import { SkipLinks } from 'accessible-astro-components';
import { FaInstagram, FaGithub } from 'react-icons/fa/index';
---

<header>
  <SkipLinks />
  <Navigation>
    <li class="menu-item">
      <a href="/">Home</a>
    </li>
    <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">About</button>
      <ul class="dropdown-menu">
        <li class="submenu-item">
          <a href="/about/history">History</a>
        </li>
        <li class="submenu-item">
          <a href="/about/team">Meet The Team</a>
        </li>
        <li class="submenu-item">
          <a href="/about/safety-dale">Safety Dale</a>
        </li>
        <li class="submenu-item">
          <a href="/about/robots">Our Robots</a>
        </li>
        <li class="submenu-item">
          <a href="/about/school">School</a>
        </li>
        <li class="submenu-item">
          <a href="/contact">Contact</a>
        </li>
      </ul>
    </li>
    <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">Resources</button>
      <ul class="dropdown-menu">
        <li class="submenu-item">
          <a href="/resources/events">Events</a>
        </li>
        <li class="submenu-item">
          <a href="/resources/newsletters">Newsletters</a>
        </li>
      </ul>
    </li>
    <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">Support Us</button>
      <ul class="dropdown-menu">
        <li class="submenu-item">
          <a href="/sponsor">Sponsor Us</a>
        </li>
        <li class="submenu-item">
          <a href="/sponsors">Our Sponsors</a>
        </li>
        <li class="submenu-item">
          <a href="/donate">Donate</a>
        </li>
      </ul>
    </li>
    <li class="menu-item type-icon">
      <a href="https://instagram.com/frc_404" class="icon-link" title="Check us out on Instagram">
        <FaInstagram className="react-icon" />
      </a>
    </li>
    <li class="menu-item type-icon">
      <a href="https://github.com/FRC-404-NOT-FOUND" class="icon-link" title="Check us out on GitHub">
        <FaGithub className="react-icon" />
      </a>
    </li>
  </Navigation>
</header>

<style lang="scss" is:global>
  @use '../assets/styles/base/outline' as *;

  header {
    .type-icon a {
      display: block;

      .react-icon {
        margin-top: -4px;
        width: 30px;
        height: 30px;

        path {
          fill: var(--action-color);
          transition: fill 0.2s ease-in-out;
        }
      }

      &:hover {
        .react-icon path {
          fill: var(--action-color-state);
        }
      }
    }
  }
</style>
