---
import 'assets/styles/globals.scss';
import SiteMeta from 'components/SiteMeta.astro';
import Header from 'components/Header.astro';
import Footer from 'components/Footer';

const {
  title = 'FRC Team 404',
  description = 'The ARGS Robotics FRC Team 404 Not Found, from Appomattox Regional Governor\'s School',
  url = Astro.url.href,
  image = '/social-preview-image.png',
  author = 'The ARGS Robotics Team',
  noFooter = false,
} = Astro.props;
---

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- favicon -->
    <link rel="icon" type="image/png" href="/favicon.png" />

    <SiteMeta
      title={title}
      description={description.substring(0, 100)}
      url={url}
      image={image}
      author={author}
    />
  </head>
  <body>
    <Header />
    <main class={noFooter ? '' : 'mb-20'} id="main-content">
      <slot />
    </main>
    {!noFooter && <Footer />}
    <style lang="scss" is:global>
      // theme settings
      :root {
        --radius-small: 3px;
        --radius-large: 7px;
        --gap-default: 2rem;
        --font-measure: 70ch;
        --font-family-default: 'Open Sans', sans-serif;
        --font-family-special: 'Open Sans', sans-serif;
        // light theme
        --font-color: var(--neutral-900);
        --action-color: var(--primary-300);
        --action-color-state: var(--primary-400);
        --background: var(--neutral-100);
        --primary-background: var(--primary-100);
        --neutral-background: var(--neutral-200);
      }

      // dark color scheme overrides
      @media (prefers-color-scheme: dark) {
        :root {
          --font-color: var(--neutral-100);
          --action-color: var(--violet-200);
          --action-color-state: var(--violet-400);
          --background: var(--dark-100);
          --primary-background: var(--primary-500);
          --neutral-background: var(--neutral-900);
        }
      }

      // sticky footer on low content pages
      html,
      body {
        height: 100%;
        overflow-x: hidden;
      }

      body {
        display: flex;
        flex-direction: column;
        color: var(--font-color);
        background-color: var(--background);

        main {
          flex: 1 0 auto;
        }

        footer {
          flex-shrink: 0;
        }
      }

      pre {
        padding: 1rem;
        border-radius: 0.35rem;
        border: 2px solid var(--action-color);
      }

      body .pagination a {
        &:hover,
        &:focus-visible {
          background-color: var(--action-color-state);

          svg path {
            stroke: white;
          }
        }
      }
    </style>
  </body>
</html>
